<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.tomike.bomberlaboratory">

    <application>

        <activity
            android:name=".generic.GenericTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".reflect.ReflectTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basics.UrlEncodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basics.UrlParseActivity"
            android:screenOrientation="portrait" />

        <!-- Double 格式转换工具 -->
        <activity
            android:name=".basics.DoubleFormatActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".basics.GsonParseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadDaemonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadInterruptActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadSynchronizedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadCommunicationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadCallbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadPoolExecutorsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadPoolActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ReentrantLockActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
