<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.tomike.bomberlaboratory">

    <application>

        <activity
            android:name=".generic.GenericTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadDaemonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadInterruptActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadSynchronizedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadCommunicationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".thread.ThreadCallbackActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".reflect.ReflectTestActivity" />
        <activity android:name=".basics.UrlParseActivity" />
        <activity android:name=".thread.ThreadPoolExecutorsActivity" />
        <activity android:name=".thread.ThreadPoolActivity" />
        <activity android:name=".thread.ReentrantLockActivity" />

    </application>
</manifest>
