<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.tomike.tanklaboratory">

    <application>
        <!-- 控件类 -->
        <activity
            android:name=".widget.activity.TextSwitcherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.TextWordSpacingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.SpannableStringBuilderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.EmojiFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.EditTextCursorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ViewPager2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.TabLayoutIndicatorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.Lowercase2UppercaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.PopupWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.CardViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.FlowLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.FloatingActionButtonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".widget.activity.SnackBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.CoordinatorLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.SetTextIsSelectableTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.NestedScrollViewViewPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".widget.activity.NavigationBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ConstraintLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.LightDarkTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.DrawerLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.PageIndicatorActivity"
            android:screenOrientation="portrait" /> <!-- viewpager一屏多展示item activity -->
        <activity
            android:name=".widget.activity.ViewPagerMultiplePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ViewPagerWrapContentActivity"
            android:screenOrientation="portrait" /> <!-- viewpager无限循环 activity -->
        <activity
            android:name=".widget.activity.ViewPagerInfiniteLoopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.SwipeRefreshLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ShapeViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.CoordinatorLayoutCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.CheckBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.RecyclerViewItemUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.VectorDrawableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.DrawableTintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.DrawableTint2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ShapeDrawableHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ShadowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.TabLayoutHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.RadioGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ViewFocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.WatermarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.MatrixImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.StatusBarNavigationBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ColorMatrixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ColorMatrix2Activity"
            android:screenOrientation="portrait" />


        <!--    动效类    -->
        <activity
            android:name=".animation.activity.TweenAnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.activity.ScrollViewAnchorActivity"
            android:screenOrientation="portrait" /> <!-- 属性动画 -->
        <activity
            android:name=".animation.activity.PropertyAnimatorActivity"
            android:screenOrientation="portrait" /> <!-- 圆形揭示 -->
        <activity
            android:name=".animation.activity.CircularRevealActivity"
            android:screenOrientation="portrait" /> <!-- 共享元素 -->
        <activity
            android:name=".animation.activity.ShareElementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.activity.ShareElement2Activity"
            android:screenOrientation="portrait" /> <!-- 摇晃动效 -->
        <activity
            android:name=".animation.activity.ShakeAnimatorActivity"
            android:screenOrientation="portrait" /> <!-- 贝塞尔曲线动效 -->
        <activity
            android:name=".animation.activity.BezierAnimatorActivity"
            android:screenOrientation="portrait" /> <!-- scrollBy 之图片移动 activity -->
        <activity
            android:name=".animation.activity.ScrollerPracticeActivity"
            android:screenOrientation="portrait" /> <!-- Layout 添加/删除子view的过渡效果 -->
        <activity
            android:name=".animation.activity.LayoutTransitionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.RecyclerAsViewPagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.RecyclerViewChildCountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.RecyclerViewScrollToPositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.activity.ScrollChangeTitleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.activity.EffectGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.activity.ScrollZoomImage2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".animation.activity.ScrollZoomImage3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.ScrollViewAndRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".widget.activity.RecyclerStaggeredGridActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>