<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skx.tomike.tanklaboratory">

    <application>
        <!-- PopupWindow 实例 -->
        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.PopupWindowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.CardViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.FlowLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.FloatingActionButtonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.SnackBarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.CoordinatorLayoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.SetTextIsSelectableTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.NestedScrollViewViewPagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name="com.skx.tomike.tanklaboratory.widget.activity.NavigationBarActivity" />

        <activity android:name="com.skx.tomike.tanklaboratory.widget.activity.ConstraintLayoutActivity" />

        <activity android:name="com.skx.tomike.tanklaboratory.widget.activity.LightDarkTextActivity" />


        <!-- 属性动画 -->
        <activity
            android:name="com.skx.tomike.tanklaboratory.animation.activity.PropertyAnimatorActivity"
            android:screenOrientation="portrait" />

        <!-- 圆形揭示 -->
        <activity
            android:name="com.skx.tomike.tanklaboratory.animation.activity.CircularRevealActivity"
            android:screenOrientation="portrait" />

        <!--共享元素-->
        <activity
            android:name="com.skx.tomike.tanklaboratory.animation.activity.ShareElementActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.skx.tomike.tanklaboratory.animation.activity.ShareElement2Activity" />

        <!--摇晃动效-->
        <activity android:name="com.skx.tomike.tanklaboratory.animation.activity.ShakeAnimatorActivity" />

        <!--贝塞尔曲线动效-->
        <activity
            android:name="com.skx.tomike.tanklaboratory.animation.activity.BezierAnimatorActivity"
            android:screenOrientation="portrait" />

        <!-- scrollBy 之图片移动 activity -->
        <activity
            android:name="com.skx.tomike.tanklaboratory.animation.activity.ScrollerPracticeActivity"
            android:screenOrientation="portrait" />

        <!--Layout 添加/删除子view的过渡效果-->
        <activity
            android:name="com.skx.tomike.tanklaboratory.animation.activity.LayoutTransitionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.DrawerLayoutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widget.activity.TextSwitcherActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".widget.activity.TextWordSpacingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".widget.activity.ZoomHeaderListViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widget.activity.PageIndicatorActivity"
            android:screenOrientation="portrait" />

        <!-- viewpager无限循环 activity -->
        <activity
            android:name=".widget.activity.ViewPagerInfiniteLoopActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- viewpager一屏多展示item activity -->
        <activity
            android:name=".widget.activity.VpMultiplePageActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
