<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.qrcode">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".activity.CaptureActivity"
            android:label="@string/zxing_bar_name" />
    </application>
</manifest>