<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skx.tomike.cannon">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--本地读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="Manifest.permission.WRITE_SETTINGS" />
    <uses-permission android:name="Manifest.permission.SYSTEM_ALERT_WINDOW" />

    <!--允许查询设备上的任何正常应用程序，而不考虑清单声明。-->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!--app使用情况统计信息权限-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.NFC" />

    <application>
        <activity
            android:name=".ui.activity.FullscreenActivity"
            android:screenOrientation="portrait" />
        <!--        android:theme="@style/Theme.Skxlaboratory.Fullscreen"-->
        <activity
            android:name=".ui.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NfcGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.OutterStartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- tenvideo2://?action=66&from= qn2at72s9jb3xk -->
                <data
                    android:host="tomike.com"
                    android:scheme="skxdad" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.TransparentThemeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GlobalCaptchaTheme.Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.activity.TranslucentThemeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/GlobalCaptchaTheme.Translucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name=".ui.activity.NfcWriteTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.NfcReadTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.NfcPermissionTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PermissionIntroActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RxJavaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OkHttpActivity"
            android:screenOrientation="portrait" />

        <!-- 图片加载 -->
        <activity
            android:name=".ui.activity.ImageLoadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.GlideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RetrofitActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.RoomTestActivity"
            android:screenOrientation="portrait" />

        <!-- 照片墙 -->
        <activity
            android:name=".ui.activity.PhotoWallActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 多相册 -->
        <activity
            android:name=".ui.activity.PhotoAlbumsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 图片预览 -->
        <activity
            android:name=".ui.activity.PicturePreviewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- 拍照 -->
        <activity
            android:name=".ui.activity.PhotographActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.ZoomImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.HandlerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LivedataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LifecycleActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.LifecycleActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ViewModelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AopTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AsyncTaskActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OpenFileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ParcelableActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DeviceInformationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AppInformationActivity"
            android:screenOrientation="portrait" />

        <!-- 键盘 实例 -->
        <activity
            android:name=".ui.activity.KeyboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.KeyboardActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ui.activity.HotfixActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.CountDownTimerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.RebootAppActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WithCallbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ZXingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ServiceDemoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.BroadcastDemoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.JobSchedulerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WorkManagerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.PopupWindowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.MusicPlayerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DialogActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.FragmentPracticeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.KotlinFlowActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.FileTreeVisitorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AppUsageStatsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.AppListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.H5Activity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.DownloadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.WorkManagerActivity"
            android:screenOrientation="portrait" />

        <service android:name=".ui.activity.MyService" />

        <service
            android:name=".ui.activity.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".ui.activity.BroadcastDemoActivity$SuperBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ui.activity.ServiceDemoActivity$ServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="com.skx.tomike.cannon.test" />
            </intent-filter>
        </receiver>
    </application>

</manifest>