<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skx.tomike.cannon">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--本地读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.NFC" />

    <application android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.NfcGroupActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.OutterStartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- tenvideo2://?action=66&from= qn2at72s9jb3xk -->
                <data
                    android:host="tomike.com"
                    android:scheme="skxdad" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.TransparentThemeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/GlobalCaptchaTheme.Transparent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.NfcWriteTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.NfcReadTextActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.NfcPermissionTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.PermissionIntroActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.RxJavaActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.OkHttpActivity"
            android:screenOrientation="portrait" />

        <!-- 图片加载 -->
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.ImageLoadActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.GlideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.RetrofitActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.RoomTestActivity"
            android:screenOrientation="portrait" />

        <!-- 照片墙 -->
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.PhotoWallActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- 多相册 -->
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.PhotoAlbumsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- 图片预览 -->
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.PicturePreviewActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <!-- 拍照 -->
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.PhotographActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.ZoomImageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.HandlerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.LifecycleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LifecycleActivity2"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.cannon.ui.activity.AopTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.AsyncTaskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.OpenFileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.ParcelableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.DeviceInformationActivity"
            android:screenOrientation="portrait" />

        <!-- 键盘 实例 -->
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.KeyboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.HotfixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannon.ui.activity.CountDownTimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RebootAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WithCallbackActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>