<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.tomike.bomber">

    <application>

        <activity
            android:name="com.skx.tomike.bomber.generic.GenericTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.reflect.ReflectTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.basics.UrlEncodeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.basics.UrlParseActivity"
            android:screenOrientation="portrait" />

        <!-- Double 格式转换工具 -->
        <activity
            android:name="com.skx.tomike.bomber.basics.DoubleCalculateActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.basics.GsonParseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadStartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadDaemonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadInterruptActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadSynchronizedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadCommunicationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadCallbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadPoolExecutorsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ThreadPoolActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.thread.ReentrantLockActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.bomber.coroutine.CoroutineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basics.XmlParseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basics.Base64Activity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
