<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.tomike">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- NFC 权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- NFC 权限 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".SkxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 首页 -->
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <!-- 单相册 -->
        <activity
            android:name=".activity.function.PhotoAlbumActivity"
            android:screenOrientation="portrait" />
        <!-- 多相册 -->
        <activity
            android:name=".activity.function.PhotoAlbumsActivity"
            android:screenOrientation="portrait" />
        <!-- 图片预览 -->
        <activity
            android:name=".activity.function.PicturePreviewActivity"
            android:screenOrientation="portrait" />
        <!-- 拍照 -->
        <activity
            android:name=".activity.function.PhotographActivity"
            android:screenOrientation="portrait" />
        <!-- viewpager无限循环 activity -->
        <activity
            android:name="com.skx.tomike.cannonlaboratory.ui.activity.ViewPagerInfiniteLoopActivity"
            android:screenOrientation="portrait" />
        <!-- Double 格式转换工具 -->
        <activity
            android:name=".activity.DoubleFormatActivity"
            android:screenOrientation="portrait" />
        <!-- 键盘 实例 -->
        <activity
            android:name=".activity.KeyboardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.StatusBarNavigationBarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.function.RetrofitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpannableStringBuilderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xzdz.ScrollChangeTitleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannonlaboratory.ui.activity.DrawerLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ZoomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScrollViewAnchorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.skx.tomike.cannonlaboratory.ui.activity.TabLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GetTopTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.effect.SwipeRefreshLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ColorMatrixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ColorMatrix2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UrlEncodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MatrixImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ImageSpanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HeaderFooterRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VectorDrawableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Tint_DrawableTintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Tint_BackgroundTintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WatermarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShapeDrawableHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TextSwitcherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmojiFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TextWordSpacingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.skx.tomike.tanklaboratory.widget.activity.ShapeViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CoordinatorLayoutCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShadowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TabLayoutHelperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xzdz.EffectGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xzdz.ScrollZoomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xzdz.ScrollZoomImage2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.xzdz.ScrollZoomImage3Activity"
            android:screenOrientation="portrait" />

        <service android:name=".service.LocalService" />
        <service
            android:name=".service.RemoteService"
            android:process=":com.skx.remote" />

             <activity
            android:name=".activity.function.AopTestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ViewCaptureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.HandlerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>