<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skx.tomike.tacticallaboratory">

    <application>
        <activity
            android:name=".pattern.memento.MementoPatternActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pattern.chainofresponsibility.ChainOfResponsibilityPatternActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pattern.strategy.StrategyPatternActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pattern.prototype.PrototypePatternActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pattern.observer.ObserverPatternActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ViewModelActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".pattern.proxy.ProxyPatternActivity"
            android:screenOrientation="portrait" />

        <!--        栈-->
        <activity
            android:name=".activity.StackDemoActivity"
            android:screenOrientation="portrait" />

        <!--        队列-->
        <activity
            android:name=".activity.QueueDemoActivity"
            android:screenOrientation="portrait" />

        <!--        双端队列-->
        <activity
            android:name=".activity.DueueDemoActivity"
            android:screenOrientation="portrait" />

        <!--        链表-->
        <activity
            android:name=".activity.LinkedDemoActivity"
            android:screenOrientation="portrait" />

        <!--        数组-->
        <activity
            android:name=".activity.ArrayDemoActivity"
            android:screenOrientation="portrait" />

        <!--        树-->
        <activity
            android:name=".activity.TreeDemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.SortDemoActivity" />

    </application>
</manifest>
